// ---------------*--------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

//-----------------Header------------------------

.header-container{
  background-color: white;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  height: 120px;
}

.logo-title{
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.logo-title> h1{
  color: #0DA9E3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  margin-left: 20px;
}

.logo-escuela{
  background-image: url(../../../imgs/logoEscuela.png);
  background-size: cover;
  width: 6.5vw;
  height: 6.5vw;
  margin: 5px 5px 5px 20px;
}

.header-icons{
  display: inline-flex;
  justify-content: end;
  margin-right: 40px;
  align-items: center;
}

.user-icon, .notification-icon, .exit-icon{
  background-size: cover;
  width: 30px;
  height: 30px;
  filter: invert(28%) sepia(25%) saturate(411%) hue-rotate(189deg) brightness(90%) contrast(90%);
  margin-right: 25px;
}

.user-icon{
  background-image: url(../../../imgs/userIcon.png);
}

.notification-icon{
  background-image: url(../../../imgs/notificacionIcon.png);
}

.exit-icon{
  background-image: url(../../../imgs/salidaIcon.png);
}

.user-info{
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
  margin-right: 10px;
  line-height: 20px;
}
