<div class="header-container">
  <div class="logo-title">
    <a href=""><div class="logo-escuela"></div></a>
    <h1>UNIDAD DE GESTIÓN FORMATIVA</h1>
  </div>
  <div class="header-icons">
    <div class="user-info">
      <p style="letter-spacing: 0.2px;"><b>ANGÉLICA</b></p>
      <p style="letter-spacing: 0.5px; color: rgba(106, 102, 102, 0.714);">Dinamizador</p>
    </div>
    <a href="" class="user-icon"></a>
    <a href="" class="notification-icon"></a>
    <a href="/login" class="exit-icon"></a>
  </div>
</div>
