<div class="user-attendance-container">
  <div class="foto-nombre">
    <div class="foto-estudiante"></div>
    <div style="display: flex; flex-direction: column; text-align: start; justify-content: center;">
      <h1>{{ nombreEstudiante }}</h1>
      <p style="color: gray;">{{ documentoEstudiante }}</p>
    </div>
  </div>
  <div class="chequeo-asistencia">
    <div class="flex items-center">
      <input id="" type="checkbox" value="" style="width: 32px; height: 32px; background-color: #0DA9E3 !important; color: white; border-radius: 0.5rem;">
    </div>
  </div>
</div>
