<div class="user-attendance-container">
  <div class="foto-nombre">
    <div class="foto-estudiante"></div>
    <div>
      <h1>{{ nombreEstudiante }}</h1>
      <h2></h2>
    </div>
  </div>
  <div class="chequeo-asistencia">
    <label class="checkbox-container">
      <input type="checkbox" class="checkbox-input">
      <span class="checkbox-custom"></span>
      Asistió
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="checkbox-input">
      <span class="checkbox-custom"></span>
      No Asistió
    </label>
  </div>
</div>
