<div style="width: 100%; display: flex; align-items: center;">
  <div class="modal">
    <div style="display: flex; justify-content: flex-end;"><button (click)="closeModal()">X</button></div>
    <p *ngIf="errorMessage" style="color: red; position: fixed; align-self: center;">{{ errorMessage }}</p>
    <div class="modal_body">
      <h1 style="color: #04AEEE; margin: 20px 0;">Agrega un Beneficiario</h1>
      <form action="">
        <label for="" style="color: rgba(0, 0, 0, 0.404);">Número de documento <span style="color: red;">*</span></label>
        <input type="text" class="styled-input" [(ngModel)]="documentNumber" name="documentNumber">
      </form>
      <button class="next" (click)="searchDocument()"><b><a style="text-decoration: none; color: white;">BUSCAR</a></b></button>
    </div>
  </div>
</div>
