<app-header></app-header>
<div class="main-attendance-meetings-container">
  <h1 style="width: 60%; text-align: start; font-family: Arial, Helvetica, sans-serif; color: #14B3EE; font-size: 2vw; margin-bottom: 0;">Tomar asistencia</h1>
  <h2 style="width: 60%; text-align: start; font-family: Arial, Helvetica, sans-serif; color: #1EBAD2; font-size: 1.5vw; margin-top: 0;">Lista de encuentros</h2>
  @for (meeting of meetings; track meeting; let index = $index) {
    <div class="container-meetings">
      <div>
        <h2 style="text-align: start; font-family: Arial, Helvetica, sans-serif;">{{ meeting }}</h2>
        <p style="text-align: start; font-family: Arial, Helvetica, sans-serif;">Última modificación dd/mm/aaa</p>
      </div>
      <a [routerLink]="['/attendance', index + 1]" class="edit-meeting"></a>
    </div>
  }
  <a href="/groups" style="display: block; width: 150px; padding: 10px; background-color: #99B2C6; color: white; text-align: center; border-radius: 5px; text-decoration: none; margin-top: 20px;">Volver</a>
</div>
