<app-header></app-header>
<div class="main-attendance-container">
  <h1 style="width: 60%; text-align: start; font-family: Arial, Helvetica, sans-serif; font-size: 2vw; color: #14B3EE; margin-left: 20px; margin-top: 20px;">Asistencia</h1>
  <h2 style="width: 60%; text-align: start; font-family: Arial, Helvetica, sans-serif; font-size: 1.5vw; color: #1EBAD2; margin-left: 20px;">Encuentro {{ id }}</h2>
  <div class="attendance-container">
    @for (student of estudiantesPrueba; track student; let index = $index) {
      <div class="each-service">
        <app-attendance-users [nombreEstudiante] = estudiantesPrueba[index]></app-attendance-users>
      </div>
    }
  </div>
  <button class="save-attendance"><b><a href="/evidences" style="text-decoration: none; color: white;">GUARDAR ASISTENCIA</a></b></button>
</div>
