<app-header></app-header>
<div class="home-container">
  <div class="welcome">
    <h2>Bienvenido, {{ usuario.toUpperCase() }}</h2>
  </div>
  <div class="options">
    <a href="/schools" class="home-options">
      <div class="escuelas-img">

      </div>
      <h3 style="margin-top: 20px;">Escuelas</h3>
    </a>
    <a href="" class="home-options">
      <div class="beneficiarios-img">

      </div>
      <h3 style="margin-top: 20px;">Beneficiarios</h3>
    </a>
  </div>
</div>
