// ---------------*--------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

// --------------------------- HOME ---------------------------------------------

.home-container{
  background-color: #EFEFEF;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome{
  background-color: white;
  width: 35%;
  text-align: center;
  margin: 20px;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.614);
}

.options{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.home-options{
  height: 400px;
  width: 45%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.688);
}

.escuelas-img{
  background-image: url(../../imgs/escuelas_img.png);
  background-size: cover;
  height: 320px;
  width: 90%;
  border-radius: 25px;
}

.beneficiarios-img{
  background-image: url(../../imgs/beneficiarios_img.png);
  background-size: cover;
  height: 320px;
  width: 90%;
  border-radius: 25px;
}
