<app-header></app-header>
<div class="schools-container">
  <div class="welcome">
    <h2>Bienvenido, usuario</h2>
    <p>Éstas son tus escuelas asignadas</p>
  </div>
  <div class="schools-info">
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px rgba(128, 128, 128, 0.429); border-radius: 10px; align-content: center; margin-right: 20px;" id="comunaIcon"></div>
      <div>
        <p style="margin-bottom: 5px;">Comuna</p>
        <h3>Popular</h3>
      </div>
    </div>
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px rgba(128, 128, 128, 0.429); border-radius: 10px; align-content: center; margin-right: 20px;" id="recursoIcon"></div>
      <div>
        <p style="margin-bottom: 5px;">Tipo de Recurso</p>
        <h3>Recurso Ordinario</h3>
      </div>
    </div>
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px rgba(128, 128, 128, 0.429); border-radius: 10px; align-content: center; margin-right: 20px;" id="codigoIcon"></div>
      <div>
        <p style="margin-bottom: 5px;">Código de la Escuela</p>
        <h3>Prueba</h3>
      </div>
    </div>
    <hr style="color: #3ABFA2;">
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px rgba(128, 128, 128, 0.429); border-radius: 10px; align-content: center; margin-right: 20px;" id="grupoIcon"></div>
      <p><b>Grupos</b></p>
    </div>
    <div class="school-items" style="justify-content: space-between;">
      <a href="/groups" style="display: inline-flex; align-items: center;">
        <div style="border-radius: 50px; background-color: #3ABFA2; height: 40px; width: 40px; margin: 10px;"></div>
        Grupo 1
      </a>
      <a href="/groups" style="display: inline-flex; align-items: center;">
        <div style="border-radius: 50px; background-color: #3ABFA2; height: 40px; width: 40px; margin: 10px;"></div>
        Grupo 1
      </a>
    </div>
  </div>
  <a href="/home" style="display: block; width: 150px; padding: 10px; background-color: #99B2C6; color: white; text-align: center; border-radius: 5px; text-decoration: none; margin-top: 20px;">Volver</a>
</div>
