<app-header></app-header>
<div class="schools-container">
  <div class="welcome">
    <h2>Bienvenido, usuario</h2>
    <p>Éstas son tus escuelas asignadas</p>
  </div>
  <div class="schools-info">
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px gray; align-content: center; margin-right: 20px;"><p>icon</p></div>
      <div>
        <p>Comuna</p>
        <h3>Popular</h3>
      </div>
    </div>
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px gray; align-content: center; margin-right: 20px;"><p>icon</p></div>
      <div>
        <p>Tipo de Recurso</p>
        <h3>Recurso Ordinario</h3>
      </div>
    </div>
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px gray; align-content: center; margin-right: 20px;"><p>icon</p></div>
      <div>
        <p>Código de la Escuela</p>
        <h3>Prueba</h3>
      </div>
    </div>
    <hr style="color: #3ABFA2;">
    <div class="school-items">
      <div style="width: 30px; height: 30px; border: solid 1px gray; align-content: center; margin-right: 20px;"><p>icon</p></div>
      <p><b>Grupos</b></p>
    </div>
    <div class="school-items">
      <a href="/meetings_list">Grupo 1</a>
    </div>
  </div>
</div>
