<app-header></app-header>
<div class="main-evidences-container">
  <div class="evidences">
    <app-cards [title]='"Evidencia de asistencia"' class="evidenceCard">
      <div class="escuelas-img"></div>
      <app-image-upload></app-image-upload>
    </app-cards>
    <app-cards [title]='"Evidencia de Refrigerio"' class="evidenceCard">
      <div class="escuelas-img"></div>
      <app-image-upload></app-image-upload>
    </app-cards>
    <app-cards [title]='"Visitantes"' class="evidenceCard">
      <div class="escuelas-img"></div>
      <app-image-upload></app-image-upload>
    </app-cards>
  </div>
  <div>
    <button (click)="guardarTodo()" class="save-info"><b><a style="text-decoration: none; color: white;">GUARDAR TODO</a></b></button>
  </div>
  <a [routerLink]="['/attendance', id]" style="display: block; width: 100px; padding: 10px; background-color: #99B2C6; color: white; text-align: center; border-radius: 5px; text-decoration: none;"><b>Volver</b></a>
</div>
